{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="panel">
                    <div class="panel-body">
                        <h4 class="page-header">List des membres</h4>
                        <table class="table  table-responsive">
                            <tr>
                                <th>username</th>
                                <th>action</th>
                            </tr>
                            {% for user in users %}
                                {% if user.username != app.user.username %}
                                    <tr>
                                        <td><h6><a href=""><b>{{ user.username }}</b></a></h6></td>
                                        <td><a class="btn btn-default btn-sm"
                                               href="{{ path('send_message', {'username': user.username}) }}">Envoyer
                                                Message</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
