{% extends '::base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h4 class="page-header" >Modification du profile <b class="myColor" >{{ user.username }}</b> </h4>
            </div>

            <div class="col-md-8">
                <h4 class="page-header">
                    A propos
                </h4>
                <p>
                    {{ user.about }}
                </p>
            </div>

        </div>
    </div>

{% endblock %}