{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="panel">
                    <div class="panel-body">
                        <h4 class="page-header">Messages</h4>
                        <table class="table table-responsive">
                            <tr>
                                <th>De.</th>
                                <th>Sujet</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <td><a href="{{ path('profile', {'username' : 'mehdiaarab'}) }}">mehdiaarab</a></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
